<form [formGroup]="individualsForm" (ngSubmit)="onSubmit()">
  <span mat-dialog-title>Ajouter un individu</span>
  <mat-dialog-content>
    <ol>
      <li>
          <mat-form-field>
              <input matInput placeholder="Nom" formControlName="name">
          </mat-form-field>
      </li>
      <li>
          <mat-form-field>
              <input matInput placeholder="Prénom" formControlName="surname">
          </mat-form-field>
      </li>
      <li>
          <mat-form-field>
              <input type="date" matInput placeholder="Date de naissance" formControlName="startDate">
          </mat-form-field>
      </li>
      <li>
          <mat-form-field>
              <input type="date" matInput placeholder="Date de décès" formControlName="endDate">
          </mat-form-field>
      </li>
    </ol>
   
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" [disabled]="!individualsForm.valid" mat-flat-button color="primary">Ajouter</button>
  </mat-dialog-actions>
</form>

